#footer-content{
    width: 100%;
    height: 200px; 
    overflow: hidden;
}

.footer-circle:first-child{
    width: 50%;
    height: 100%;
    float: left; 
    background-color: #ff704d;
    transform: translateX(-50%);
    transition: .5s; 
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
}

.footer-circle:nth-child(2){
    width: 50%;
    height: 100%; 
    float: right;
    background-color: #1a8cff;
    transform: translateX(50%);
    transition: .5s; 
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
}