/* Navbar - se intinde pe 100% pe latime si 70px pe inaltime */
.nav-bar{
  width: 100%;
  height: 70px; 
  background-color: #fff;
  top: 0;  
  position: fixed;
  z-index: 1000;
}

/* Clasa ce va fi atribuita navigatorului in momentul in care se va face click pe butonul barei de navigare*/
.nav-bar-active{
  width: 100%;
  height: 100%;  
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 25%;
}

.nav-bar .nav-bar-item {
  display: inline-block;
  height: 60px;
  height: 100%;
  padding: 10px;
  text-align: center;
  font-size: 40px;
  border-left: 1px solid #000;
}

.nav-bar-item-active{
  border: none; 
}

.nav-bar a{
  color: #000;
}

.nav-bar li:hover{
  background-color: #f2f2f2;
}

.fa-bars{
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0%;
  left: 3%;
  cursor: pointer;
  justify-content: center;
  display: flex;
  flex-direction: column;
  display: none;
}

.line{
  width: 100%; 
  height: 10px;
  background-color: #000;
  margin-top: 5px;
}

/* Navbar*/
 
@media only screen and (max-width: 1200px) {
  .fa-bars{
    display: block;
    
  }
  
  .nav-bar a {
    display: none;
  }
}