/* Navbar - se intinde pe 100% pe latime si 70px pe inaltime */
.nav-bar{
  width: 100%;
  height: 70px; 
  background-color: #fff;
  top: 0;  
  position: fixed;
  z-index: 1000;
  border-bottom: 4px solid #ff704d;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* Clasa ce va fi atribuita  in momentul in care se va face click pe butonul barei de navigare*/
.nav-bar-active{
  width: 100%;
  height: auto;  
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  transition: .3s;
}

/*Clasa ce va fi atribuita in momentul in care se va face scroll - Meniul de navigare se va micsora pe inaltime cu 10 pixeli*/
.nav-bar-scrolling{
  height: 60px;
}

.nav-bar a {
  color: #000;
  
}

.nav-bar-active a{
  color: #000;
  text-decoration: none;
  font-size: 20px;
  width: 100%;
}

.nav-bar-active a:hover{
  background-color: #e6e6e6;
  border-bottom-left-radius: 15px;
}

.nav-bar-item {
  display: inline-block;
  padding: 10px;
  height: 100%;
  font-size: 40px;
  text-align: center;
  border-left: 1px solid #000;
  background-color: #fff;
}

a:first-child .nav-bar-item{
  border-bottom-left-radius: 15px;
}

.nav-bar-item:hover{
  background-color: #39ac39;
  color: #fff
}

.nav-bar-item-active{
  border: none; 
}

.nav-bar-item-scrolling{
  font-size: 30px;
}

.logo-container{
  height: 100%;
  position: absolute;
  right: 2%;
  top: 2%;
  padding: 5px;
  font-size: 17px;
  color: #339933;
  transition: .5s;
}

.logo-container h1{
  float: right;
  font-family: DelaGothicOne;
}

.logo-container img{
  width: 50px;
  height: 50px;
  float: left;
  transition: .5s;
}

.img-scrolling{
  transform: rotate(180deg);
  transition: .5s;
}

.logo-container-scrolling{
  font-size: 15px;
  color: #39ac39;
  padding: 2px;
}

.fa-bars{
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0%;
  left: 2%;
  transform: translate(3%, 0%);
  cursor: pointer;
  display: none;
  transition: .5s;
}

.fa-bars-scrolling{
  height: 60px;
}

.line{
  width: 100%; 
  height: 20%;
  background-color: #1a1a1a;
  margin-top: 7px;
}
/* Navbar*/
 
/*Restilizare a componetelor care sunt vazute de pe un ecran mai mic sau egal cu 1200px*/
@media only screen and (max-width: 1200px) {
  .fa-bars{
    display: block;
  }
  
  .nav-bar a {
    display: none;
  }

  #logo-container h1{
    font-size: 20px;
  }

  .nav-bar-item{
    border: none; 
    font-size: 15px;
  }
}
/*Restilizare a componetelor care sunt vazute de pe un ecran mai mic sau egal cu 1200px*/

/*Restilizare a componetelor care sunt vazute de pe un ecran mai mic sau egal cu 550px*/
@media only screen and (max-width: 550px) {
  .logo-container h1{
    font-size: 18px;
    padding: 15px;
  }
}
/*Restilizare a componetelor care sunt vazute de pe un ecran mai mic sau egal cu 550px*/