.body-capture{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .7);
    z-index: 100;
    position: fixed;
    display: none;
}

.body-capture-active{
    display: block;
    z-index: 10;
}

#sorting-page-logo{
    font-size: 12vw;
    height: 30vh;
    text-align: center;
    color: #fff;
    text-shadow: 4px 2px 4px #1a1a1a;
    font-weight: bold;
    margin: 70px auto; 
    padding: 20px;
    background-attachment: fixed;
}

#sorting-page-info-content{
    display: grid; 
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    min-height: 40vh;
	margin: auto;
}

.sorting-page-content-container{
    height: 400px; 
    min-width: 300px;
    min-height: 300px;
    background-color: #fff;
    margin: 20px; 
    overflow: auto;
    overflow: hidden;
    position: relative;
}

.sorting-page-content-container-active{
    position: absolute;
    width: 80%;
    height: 800px;
    left: 10%;
    top: 15%; 
    z-index: 10;
    transition: .5s;
    resize: both;
}

#sorting-page-exemple{
    width: 100%; 
    height: 30vh;
}

.resize-box{
    width: 30px;
    height: 30px;
    top: 0;
    position: absolute;
    margin: 5px;
}

.resize-box:hover{
    transform: scale(1.1);
    transition: .5s;
    cursor: pointer;
}

.resize-box img{
    width: 100%;
    height: 100%;
    z-index: 1;
}

.frame-box{
    width: 100%;
    height: 100%;
    border: none;
}
